- name: Install Python 3
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
  - python3 
  - gcc   
  - python3-devel
  - python3.9-pip

- name: Install specified python requirements
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
  args:
    chdir: /app